@tailwind base;
@tailwind components;
@tailwind utilities;

.side {
  @apply w-52 px-6 text-left border border-x-0 border-t-0 border-b-gray-700;
}

.dark {
  @apply bg-gray-800 text-white border-gray-700;
}

.card-dark {
  @apply bg-gray-900 text-white border-gray-700;
}

.card-dark svg {
  fill: white;
}

.active > span {
  display: block;
}
a:hover {
  @apply text-green-800;
}
.active {
  @apply space-x-1 text-green-800;
}

input,
select {
  @apply border border-gray-200 rounded-md p-2 w-full bg-gray-50;
}

.btn-submit {
  @apply bg-green-700;
}

.btn-primary {
  @apply border-green-500 bg-green-700 text-white hover:bg-green-500;
}
